<main role="main">
    <section class="container__welcome" id="container__welcome">
        <div class="section__welcome">
            <h3>La Palomera</h3>

            <p>La Palomera nace para ustedes, lo mejor del mundo mundial, se les hace con cariño dejandole un buen sabor
            </p>
        </div>

    </section>

    <section class="section__img--welcome">
        <div class="container--galery">
            <img src="./assets/img/mundo.jpeg" alt="">
            <img src="./assets/img/mundial.jpeg" alt="">
        </div>
    </section>
    <section class="section--img__new">
        <div class="container--img__new">
            <img src="./assets/img/Paloma1.png">
        </div>
    </section>
    <section class="section__info">
        <h3 class="tittles">La Arepa</h3>
        <p>La arepa es un alimento a base de harina de maíz que forma parte de la identidad nacional y de la gastronomía tradicional de Venezuela. Es miembro substancial de la mesa de cada día, por lo que es considerada el pan de los venezolanos.
            También llamada pan de arepa, es un plato típico de origen indígena cuya preparación se
             remonta a tiempos de los habitantes originarios, quienes sembraban, 
             recolectaban y procesaban el maíz. Su forma redondeada, según algunos historiadores, 
             era una manera de honrar al sol y a la luna evocando su figura.</p>
    </section>
    <section class="contanier__galery__img" id="contanier__galery__img">
        <app-galery></app-galery>
    </section>
    <section class="section__publication" id="section__publication">
        <article class="publication">
            <div class="publication__title">
                <h3>{{publication[0].title}}</h3>
            </div>
            <div class="publication__img">
                <img src="{{publication[0].img}}">
                <p>{{publication[0].description}}</p>
            </div>
        </article>
        <article class="publication">

            <div class="publication__title">
                <h3>{{publication[1].title}}</h3>
            </div>

            <div class="publication__img">
                <img src="{{publication[1].img}}">
                <p>{{publication[1].description}}</p>
            </div>
        </article>
        <article class="publication">
            <div class="publication__title">
                <h3>{{publication[2].title}}</h3>
            </div>
            <div class="publication__img">
                <img src="{{publication[2].img}}">
                <p>{{publication[2].description}}</p>
            </div>
        </article>
    </section>

    <section class="section__left__publication">

        <p>
            Venezolanos celebraron el Día Mundial de la Arepa
            Al grito de “buen provecho” más de 400 niños se congregaron en una cancha deportiva de Petare, el barrio más
            grande de Venezuela, para degustar…

            <br>
            <br>
            La tiktoker española radicada en Miami que se hizo viral por comer arepas venezolanas
            Por su parte, desde hace ya varios días la tiktoker española de nombre Sandra, vuelve a ser tendencia en las
            redes sociales, tras probar por…

            <br>
            <br>
            ¡Tremendo lío! Peruano reclama a su esposa venezolana por desayunar arepas todos los días y ella le responde
            En TikTok se han vuelto virales los videos que provocan risa entre miles de usuarios de redes sociales.
            Recientemente, una joven venezolana protagonizó una curiosa…

            <br>
            <br>
            Las arepas y pabellón venezolano hacen historia en Londres
            Una arepa de carne de res con patatas tempura y un pabellón vegano preparado por «Pabellón Venezuelan Food»
            se convirtió en historia, este sábado en…

        </p>
    </section>
</main>